/*===================================|
|        Tipografía del texto        |
|===================================*/
@font-face {
  font-family: 'Dancing';
  src: url("../fonts/DancingScript-Regular.otf");
}

/*===================================|
|         Estilos Generales          |
|===================================*/
html{
  background: #02010a;
}

img{
  box-shadow: 2px 2px 0 #02010a;
}

p{
  font-size: 1em;
}

/*===================================|
|        Cuerpo de la página         |
|===================================*/
#contenido{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  background: #02010a;
  font-family: 'Dancing';
  animation: rebote 1s;
}

/*===================================|
|              Cabecera               |
|===================================*/
#encabezado{
  background: #5b7989;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

#encabezado h1{
  float: left;
  color: white;
  text-shadow: 0 0 2px #02010a;
  margin-left: 0.5em;
}

#encabezado nav{
  float: right;
  margin-right: 0.5em;
  margin-top: 2em;
}

/*===================================|
|        Barra de Navegación         |
|===================================*/
nav a{
  color: white;
  font-size: 1em;
}

.enlace{
  text-decoration: none;
}



/*===================================|
|           Pie de Página            |
|===================================*/
#cont_footer{
  background: #C6d5c5;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: row wrap;
}

.pie{
  width: 22%;
  margin-left: 3%;
}

#social img{
  width: 1em;
  height: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 2px;
}

#social a{
  color: black;
  text-decoration: none;
}



/*===================================|
|            Animaciones             |
|===================================*/
@keyframes rebote {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -15%;
  }
  100%{
    margin-top: 0;
  }
}
