/*===================================|
|        Tipografía del texto        |
|===================================*/
@font-face {
  font-family: 'Dancing';
  src: url("../fonts/DancingScript-Regular.otf");
}

/*===================================|
|         Estilos Generales          |
|===================================*/
html{
  background: #02010a;
}

img{
  box-shadow: 2px 2px 0 #02010a;
}

p{
  font-size: 1em;
}

/*===================================|
|        Cuerpo de la página         |
|===================================*/
#contenido{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  background: #02010a;
  font-family: 'Dancing';
  animation: rebote 1s;
}

/*===================================|
|              Cabecera               |
|===================================*/
#encabezado{
  background: #5b7989;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

#encabezado h1{
  float: left;
  color: white;
  text-shadow: 0 0 2px #02010a;
  margin-left: 0.5em;
}

#encabezado nav{
  float: right;
  margin-right: 0.5em;
  margin-top: 2em;
}

/*===================================|
|        Barra de Navegación         |
|===================================*/
nav a{
  color: white;
  font-size: 1em;
}

.enlace{
  text-decoration: none;
}

/*===================================|
|          Sección Central           |
|===================================*/
#cont_central{
  background: #82c3a6;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imgCentral img{
  width: 100%;
}

/*===================================|
|         Sección Secundaria         |
|===================================*/
#cont_secundario{
  background: #d5c75f;
  border: 1px;
}

.imgSecundarias{
  width: 40%;
}

.imgSecundarias img{
  width: 100%;
  height: 15em;
  margin-bottom: 1em;
}

#imgIzq{
  float: left;
}

#imgDer{
  float: right;
}

figcaption{
  text-align: center;
  margin-top: -1em;
}

figcaption a{
  font-size: 1.1em;
  color: black;
}

/*===================================|
|           Pie de Página            |
|===================================*/
#cont_footer{
  background: #C6d5c5;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: row wrap;
}

.pie{
  width: 22%;
  margin-left: 3%;
}

#social img{
  width: 1em;
  height: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 2px;
}

#social a{
  color: black;
  text-decoration: none;
}

/*===================================|
|           Media Queries            |
|===================================*/

@media (max-width:900px) {

  /* Cuerpo de página */
  #contenido{
    width: 100%;
  }

  /* Cabecera */
  #encabezado{
    text-align: center;
  }
  #encabezado h1{
    float: none;
    margin: 0 1em 0 1em;
    margin-top: 0.5em;
  }
  #encabezado nav{
    float: none;
    margin: 1em 0 1em 0;
  }

  /* Sección Secundaria */
  #cont_secundario{
    flex-direction: column;
    text-align: center;
  }
  .imgSecundarias{
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
  }
  .imgSecundarias img{
    width: 100%;
    height: 90%;
  }

  #imgIzq{
    float: none;
  }

  #imgDer{
    float: none;
  }

  #imgDer figcaption{
    margin-bottom: 1em;
  }

  /* Pie de Página */
  #cont_footer{
    flex-flow: column nowrap;
  }

  .pie{
    width: 100%;
    margin-left: 2em;
  }
}

/*===================================|
|            Animaciones             |
|===================================*/
@keyframes rebote {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -15%;
  }
  100%{
    margin-top: 0;
  }
}

/* Animación de Paisajes */
#imgIzq img{
  transition-property: box-shadow, transform;
  transition-duration: 1s,1s;
}
#imgIzq img:hover{
  box-shadow: 2px 2px 0 #82c3a6;
  transform: rotate(10deg);
}

/* Animación de Retratos */
#imgDer img:hover{
  transition-property: box-shadow, transform;
  transition-duration: 1s,1s;
}
#imgDer img:hover{
  box-shadow: 2px 2px 0 #82c3a6;
  transform: translate(20px,-5px);
}
